*~
*#
*.txt
diplomarbeit/*
images/*
*.zip
*.pdf
!diplomarbeit.pdf
*.out
*.aux
*.dvi
*.fdb_latexmk
*.lof
*.log
*.lot
*.fls
*.toc
*.idx
*.ilg
*.ind
*.bbl
*.blg
*.xhtml
*.epub
.directory
diplomarbeit2.tex
diplomarbeit2.pdf
DA_Vorlage_Deutsch_v3.odt
diplom*tar.gz
einstellungen.tex
einstellungen.pdf
diplomarbeit.20.lyx
vutinfth/
Word/
markdown/*.tex
_minted-diplomarbeit/
_minted-*/
